In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
housing = pd.read_csv("../Datasets/Housing.csv")
intervals = [(0, 50000), (50000, 100000), (100000, 150000),
             (150000, 200000)]

In [3]:
bins = pd.IntervalIndex.from_tuples(intervals)
housing['price_slab'] = pd.cut(housing['price'], bins)

In [4]:
bins

IntervalIndex([(0, 50000], (50000, 100000], (100000, 150000], (150000, 200000]], dtype='interval[int64, right]')

In [5]:
housing

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea,price_slab
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no,"(0, 50000]"
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no,"(0, 50000]"
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no,"(0, 50000]"
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no,"(50000, 100000]"
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no,"(50000, 100000]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no,"(50000, 100000]"
542,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no,"(50000, 100000]"
543,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no,"(100000, 150000]"
544,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no,"(100000, 150000]"
545,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no,"(100000, 150000]"

In [6]:
intervals = [(0, 5000), (5000, 10000), (10000, 15000),
             (15000, 20000)]

In [7]:
bins = pd.IntervalIndex.from_tuples(intervals)
housing['area_slab'] = pd.cut(housing['lotsize'], bins)

In [8]:
housing.drop(['price','lotsize'], axis=1, inplace=True)

In [9]:
housing = housing.astype(object)
fp_df = pd.get_dummies(housing, prefix_sep='=')

/tmp/ipykernel_7584/1057434811.py:2: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  fp_df = pd.get_dummies(housing, prefix_sep='=')
/tmp/ipykernel_7584/1057434811.py:2: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  fp_df = pd.get_dummies(housing, prefix_sep='=')
/tmp/ipykernel_7584/1057434811.py:2: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  fp_df = pd.get_dummies(housing, prefix_sep='=')
/tmp/ipykernel_7584/1057434811.py:2: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  fp_df = pd.get_dummies(housing, prefix_sep='=')

In [10]:
fp_df

,bedrooms=1,bedrooms=2,bedrooms=3,bedrooms=4,bedrooms=5,bedrooms=6,bathrms=1,bathrms=2,bathrms=3,bathrms=4,...,prefarea=no,prefarea=yes,"price_slab=(0, 50000]","price_slab=(50000, 100000]","price_slab=(100000, 150000]","price_slab=(150000, 200000]","area_slab=(0, 5000]","area_slab=(5000, 10000]","area_slab=(10000, 15000]","area_slab=(15000, 20000]"
0,0,0,1,0,0,0,1,0,0,0,...,1,0,1,0,0,0,0,1,0,0
1,0,1,0,0,0,0,1,0,0,0,...,1,0,1,0,0,0,1,0,0,0
2,0,0,1,0,0,0,1,0,0,0,...,1,0,1,0,0,0,1,0,0,0
3,0,0,1,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,1,0,0
4,0,1,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,0,0,1,0,0,0,0,1,0,0,...,1,0,0,1,0,0,1,0,0,0
542,0,0,1,0,0,0,0,1,0,0,...,1,0,0,1,0,0,0,1,0,0
543,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,1,0,0
544,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,1,0,0
545,0,0,1,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,1,0,0

In [11]:
# create frequent itemsets
itemsets = apriori(fp_df, min_support=0.2, use_colnames=True)
# and convert into rules
rules = association_rules(itemsets, 
                          metric='confidence', min_threshold=0.6)
rules = rules[['antecedents', 'consequents', 
               'support', 'confidence', 'lift']]
rules = rules[rules['lift']>1]
rules = rules.sort_values(by='lift', ascending=False)

/home/kar911/.local/lib/python3.10/site-packages/mlxtend/frequent_patterns/fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [13]:
rules

,antecedents,consequents,support,confidence,lift
4503,"(airco=no, fullbase=no, bathrms=1, prefarea=no)","(price_slab=(0, 50000])",0.203297,0.609890,2.107595
4516,"(price_slab=(0, 50000])","(airco=no, fullbase=no, bathrms=1, prefarea=no)",0.203297,0.702532,2.107595
147,"(bedrooms=2, gashw=no)",(stories=1),0.205128,0.854962,2.056428
6718,"(price_slab=(0, 50000])","(gashw=no, recroom=no, bathrms=1, area_slab=(0...",0.201465,0.696203,2.054738
149,(bedrooms=2),"(gashw=no, stories=1)",0.205128,0.823529,2.043850
...,...,...,...,...,...
518,"(price_slab=(50000, 100000], stories=2)",(driveway=yes),0.223443,0.859155,1.000210
687,"(recroom=no, fullbase=no)",(gashw=no),0.575092,0.954407,1.000204
688,(gashw=no),"(recroom=no, fullbase=no)",0.575092,0.602687,1.000204
1026,"(prefarea=no, bedrooms=3)","(gashw=no, bathrms=1)",0.276557,0.708920,1.000182
3251,"(gashw=no, stories=1, bathrms=1)","(prefarea=no, driveway=yes)",0.219780,0.628272,1.000107